
#venice-pic
{
    margin-right: 10px;
}

#pic-by-who
{
    font-weight:normal;
    margin-left: 35px;
    margin-top: 5px;
}
#Hypatia
{
    font-weight: normal;
}
#I_Love
{
    font-weight: normal;
}
#Curia
{
    font-weight: normal;
    margin-top: 40px;
}

#visit
{
    font-weight: normal;
}